USE [CorporeRM]
GO
/****** Object:  StoredProcedure [dbo].[ZATUALIZA_CATRACA_ARAXA]    Script Date: 14/09/2018 10:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ZATUALIZA_CATRACA_ARAXA] AS
/*ISABEL*/

/*NOVO UPDATE NAO PRECISANDO TRABALHAR COM A TABELA ZALTERACAO_CATRACA*/
with CTE_Origem as
(
SELECT PPS.NOME, SMA.NUMCARTEIRA, P.N_IDENTIFICADOR, SMA.RA, SMA.CODSTATUS, P.RA 'RA_CATRACA', P.CODSTATUS 'STATUS_CATRACA'--, Z.NUMCARTEIRA, Z.NOME, SMA.NUMCARTEIRA
FROM SMATRICPL SMA (NOLOCK)
	INNER JOIN SALUNO (NOLOCK) SAL ON SAL.RA = SMA.RA
	INNER JOIN PPESSOA (NOLOCK) PPS ON PPS.CODIGO = SAL.CODPESSOA
	--INNER JOIN ZALTERACAO_CATRACA (NOLOCK) Z ON Z.RA = SMA.RA AND PPS.NOME = Z.NOME
	INNER JOIN [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS P (NOLOCK) ON 
		P.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = PPS.NOME COLLATE SQL_Latin1_General_CP1_CI_AI 
		AND p.N_IDENTIFICADOR  COLLATE SQL_Latin1_General_CP1_CI_AI <> SMA.NUMCARTEIRA  COLLATE SQL_Latin1_General_CP1_CI_AI
		AND p.RA  COLLATE SQL_Latin1_General_CP1_CI_AI = SMA.RA  COLLATE SQL_Latin1_General_CP1_CI_AI
		--AND p.CODSTATUS  = SMA.CODSTATUS 

WHERE 
	sma.codstatus in (1,2,14,15)
) 
UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET 
	N_IDENTIFICADOR = O.NUMCARTEIRA,
	RA = O.ra--,
	--CODSTATUS = O.codstatus
from [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS as T
inner join CTE_Origem as O
    on O.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = T.NOME COLLATE SQL_Latin1_General_CP1_CI_AI
	and O.RA COLLATE SQL_Latin1_General_CP1_CI_AI = T.RA COLLATE SQL_Latin1_General_CP1_CI_AI
	--and O.codstatus = T.codstatus

/*TRAZER ALTERAÇAO SALUNOCOMPL PARA SMATRICPL*/
UPDATE SMATRICPL SET numcarteira = SAC.CARTEIRINHA
--SELECT SMA.numcarteira, SAC.CARTEIRINHA --P.N_IDENTIFICADOR, Z.NOME, Z.NOME, SMA.RA
FROM SMATRICPL SMA (NOLOCK)
	INNER JOIN SALUNOCOMPL SAC (NOLOCK) ON  SMA.RA = SAC.RA
WHERE 
	SMA.numcarteirA <> SAC.CARTEIRINHA
	and sma.codstatus in (14,15)
	and sma.codcoligada=1
	AND SAC.CARTEIRINHA IS NOT NULL

/*ATUALIZA MATRICULA E CODSTATUS*/
--with CTE_Origem1 as
--(
--SELECT PPS.NOME, SMA.NUMCARTEIRA, P.N_IDENTIFICADOR, SMA.RA, SMA.CODSTATUS, P.RA 'RA_CATRACA', P.CODSTATUS 'STATUS_CATRACA'--, Z.NUMCARTEIRA, Z.NOME, SMA.NUMCARTEIRA
UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET 
	RA = SMA.ra
	,CODSTATUS = SMA.codstatus
FROM SMATRICPL SMA (NOLOCK)
	INNER JOIN SALUNO (NOLOCK) SAL ON SAL.RA = SMA.RA
	INNER JOIN PPESSOA (NOLOCK) PPS ON PPS.CODIGO = SAL.CODPESSOA
	--INNER JOIN ZALTERACAO_CATRACA (NOLOCK) Z ON Z.RA = SMA.RA AND PPS.NOME = Z.NOME
	INNER JOIN [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS P (NOLOCK) ON 
		P.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = PPS.NOME COLLATE SQL_Latin1_General_CP1_CI_AI 
		AND p.N_IDENTIFICADOR  COLLATE SQL_Latin1_General_CP1_CI_AI = SMA.NUMCARTEIRA  COLLATE SQL_Latin1_General_CP1_CI_AI
WHERE 
	sma.codstatus in (1,2,14,15)
	and P.RA IS NULL
--) 
--UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET 
--	RA = O.ra
--	,CODSTATUS = O.codstatus
--from [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS as T
--inner join CTE_Origem1 as O
--    on O.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = T.NOME COLLATE SQL_Latin1_General_CP1_CI_AI


	--select * from [192.168.6.12].[SecullumAcessoNet].[DBO].PESSOAS P WHERE RA IS NULL --where count(nome) > 1

	--SELECT * FROM 

	------group by nome order by nome 

	--select SMATRICPL.CODSTATUS,* from saluno
	--inner join ppessoa on ppessoa.codigo = saluno.codpessoa
	--INNER JOIN SMATRICPL ON SMATRICPL.RA = SALUNO.RA
	--where
	--nome='IASMIN CARVALHO BARROS'

	--3201700626
	--select * from smatricpl where ra='318002673'

	--select * from sstatus where descricao='Pré-Matricula'


/*
UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET N_IDENTIFICADOR = SMA.NUMCARTEIRA
--SELECT P.N_IDENTIFICADOR, Z.NUMCARTEIRA, Z.NOME, SMA.NUMCARTEIRA
FROM ZALTERACAO_CATRACA z (NOLOCK)
	inner JOIN [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS P (NOLOCK)
	ON P.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = z.NOME COLLATE SQL_Latin1_General_CP1_CI_AI
	INNER JOIN SMATRICPL SMA (NOLOCK) ON  SMA.ra COLLATE SQL_Latin1_General_CP1_CI_AI = z.ra COLLATE SQL_Latin1_General_CP1_CI_AI
	and z.numcarteira = sma.numcarteira
WHERE 
	p.N_IDENTIFICADOR  COLLATE SQL_Latin1_General_CP1_CI_AI <> z.NUMCARTEIRA  COLLATE SQL_Latin1_General_CP1_CI_AI
	--AND z.NUMCARTEIRA IS NOT NULL
	and sma.codstatus=2


/*CONTRA-TURNO*/
UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET N_IDENTIFICADOR = SMA.CARTEIRINHA
--SELECT P.N_IDENTIFICADOR, Z.NOME, Z.NOME, SMA.RA
FROM PPESSOA z (NOLOCK)
	inner JOIN [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS P (NOLOCK)
	ON P.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = z.NOME COLLATE SQL_Latin1_General_CP1_CI_AI
	INNER JOIN SALUNO SA (NOLOCK) ON  SA.CODPESSOA = Z.CODIGO
	INNER JOIN SALUNOCOMPL SMA (NOLOCK) ON  SMA.RA = SA.RA
	--and z.numcarteira = sma.numcarteira
WHERE 
	p.N_IDENTIFICADOR  COLLATE SQL_Latin1_General_CP1_CI_AI <> SMA.CARTEIRINHA  COLLATE SQL_Latin1_General_CP1_CI_AI
	AND SMA.CARTEIRINHA IS NOT NULL
	--AND z.NUMCARTEIRA IS NOT NULL
	--and sma.codstatus=2



--UPDATE [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS SET N_IDENTIFICADOR = NUMCARTEIRA
--FROM ZALTERACAO_CATRACA (NOLOCK)
--INNER JOIN [192.168.7.12].[SecullumAcessoNet].[DBO].PESSOAS P (NOLOCK)
--ON P.NOME COLLATE SQL_Latin1_General_CP1_CI_AI = ZALTERACAO_CATRACA.NOME COLLATE SQL_Latin1_General_CP1_CI_AI
--WHERE FORMAT(DT_ATUALIZA, 'ddMMyyyy') = FORMAT(GETDATE(), 'ddMMyyyy')


--SELECT * FROM SALUNOCOMPL WHERE RA='418002283'
--SELECT * FROM ZALTERACAO_CATRACA WHERE RA='418002283'

--SELECT * FROM PPESSOA WHERE NOME='SAMUEL ANDRADE FREITAS'
--SELECT * FROM SALUNO WHERE CODPESSOA=34024


--SELECT * FROM GFILIAL
*/